/*
  Style definition for the Symphony backend
*/

/*--------------------------------------------------------------------------
Structure
--------------------------------------------------------------------------*/

#wrapper {
position: relative;
background: #fff;
}

/* Header */

#header {
color: #fff;
padding: 0;
z-index: 9000;
background: rgb(50,50,50);
display: flex;
justify-content: space-between;
flex-flow: row wrap;
}

#header #nav {
flex: 1 100%;
}

#header h1 {
margin: 0;
padding: 1.5rem 1.8rem;
font-size: 1.5rem;
font-weight: normal;
line-height: 1;
z-index: 10;
align-self: center;
}

#header h1 a {
color: white;
border: none;
}

#session a {
font-size: 1.1rem;
color: rgba(255,255,255,0.6);
border: none;
}

#header h1 a:hover, #header h1 a:focus,
#session a:hover, #session a:focus {
color: white;
}

#header h1 a:focus,
#session a:focus {
border-bottom: 0.1rem solid white;
}

/* Session */

#session {
margin: 0;
padding: 1.5rem 0.9rem;
z-index: 11;
align-self: center;
}

#session li {
display: inline;
padding: 0 0.9rem;
}

/* Navigation */

#nav {
display: flex;
justify-content: space-between;
box-sizing: border-box;
width: 100%;
margin: 1rem 0 0 0;
padding: 0 0.8rem 0;
list-style: none;
z-index: 3;
}

#nav ul {
margin: 0;
padding: 0;
}

#nav > ul > li {
position: relative;
display: inline-block;
box-sizing: border-box;
padding: 0.5rem 1rem;
height: 3rem;
color: rgba(255,255,255,0.6);
border-bottom-width: 0.3rem;
border-bottom-style: solid;
border-bottom-color: transparent;
white-space: nowrap;
cursor: default;
z-index: 11000;
}

#nav > ul > li.active {
color: white;
border-bottom-color: white;
z-index: 2;
}

#nav > ul > li:hover, #nav > ul > li.active:hover {
color: #555;
background: rgb(245,245,245);
z-index: 12000;
}


/* Dropdown */

#nav li ul {
display: none;
position: absolute;
top: 3rem;
left: 0;
min-width: 12rem;
margin: 0;
padding: 0;
list-style: none;
background: #fff;
box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.03), 0 7px 15px -5px rgba(0, 0, 0, 0.15);
}

#nav.wide ul.structure li ul {
left: auto;
right: 0;
}

#nav li:hover ul {
display: block;
background-color: rgb(245,245,245);
}

#nav ul a {
display: block;
padding: 0.5rem 1rem;
color: #555;
background-color: rgb(245,245,245);
font-weight: normal;
-webkit-font-smoothing: subpixel-antialiased !important;
border: 0.1rem solid transparent;
cursor: pointer;
transition: all 200ms ease-in;
}

#nav li ul a:hover {
position: relative;
color: #333;
background-color: White;
box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2), 0 0.6rem 0.6rem rgba(0, 0, 0, 0.2);
}


/* Context */

#context {
margin: 0;
padding: 1.5rem 1.8rem;
color: #000;
background-color: White;
display: flex;
justify-content: space-between;
flex-flow: row wrap;
}

#context h2 {
display: inline;
padding: 0;
font-size: 127.28%;
font-weight: normal;
line-height: 1.35;
border-bottom: 0;
}

#context .actions {
display: flex;
margin: 0;
padding: 0.5em 0;
}

#context .actions li {
display: inline-flex;
}

/* Breadcrumbs */

#breadcrumbs {
align-self: center;
padding: 0.5em 0;
}

#breadcrumbs nav,
#breadcrumbs p {
display: inline;
margin: 0;
padding: 0;
}

#breadcrumbs a,
#breadcrumbs span {
display: inline;
padding: 0;
color: #2e2e2e;
font-size: 127.28%;
}

#breadcrumbs a {
border-bottom: 0.1rem solid rgba(0, 0, 0, 0.05);
}

#breadcrumbs a:hover,
#breadcrumbs a:focus {
color: #2e2e2e;
color: rgba(0, 0, 0, 0.8);
border-bottom-color: #a9a9a9;
}

#breadcrumbs span {
padding: 0 0.4rem;
}

#breadcrumbs .inactive span {
color: #b4b4b4;
}

/* Contents */

#contents {
position: relative;
clear: both;
min-height: 100%;
padding: 1rem 0 0 0;
margin: 0 0 5rem 0;
background: WhiteSmoke;
}

#contents h2 {
padding: 2rem 1.8rem 1.7rem;
}

#contents h2 span {
float: left;
}

#contents h2:after {
content: '';
display: block;
clear: both;
height: 0;
}

#contents h2 .button {
margin-top: -0.3rem;
margin-bottom: -0.2rem;
}

td:first-child a.content {
border: none;
background-color: rgb(60,100,160);
color: white;
display: inline-block;
padding: 1px 4px 2px 4px;
border-radius: 0.15rem;
transition: all 200ms ease-in;
}

td:first-child a.content:hover {
color: #555;
background-color: white;
box-shadow: 0 .2rem .5rem 0 rgba(0,0,0,.2);
}

/*--------------------------------------------------------------------------
Settings
--------------------------------------------------------------------------*/

fieldset.settings {
position: relative;
margin: 0 1.8rem 1rem;
padding: 1rem 0 1rem 27.5rem;
border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

fieldset.settings > legend {
position: absolute;
line-height: 1.5;
text-indent: -27.5rem;
}

fieldset.settings select {
width: 100%;
}

fieldset.settings p.help {
margin: -0.5rem 0 1.5rem;
}

fieldset.settings input + p.help,
fieldset.settings select + p.help {
margin-top: 1rem;
}

fieldset.settings li .label {
margin: 1rem 0 1.25rem;
}

fieldset.settings:first-of-type {
margin-top: 0.5rem;
border-top: none;
}

fieldset.settings > legend + .help {
position: absolute;
width: 22rem;
margin: 1.75rem 0 0 -27.5rem;
}

fieldset.settings > legend + .help p {
margin: 0 0 1.5rem;
}

fieldset.settings > *:first-child {
margin-top: 0;
}

fieldset.settings fieldset {
margin-top: 0.5rem;
padding-bottom: 0;
border-top: 0.1rem solid #ddc;
}

fieldset.settings fieldset legend {
display: inline;
margin: 0;
padding: 0;
color: #665;
font-weight: normal;
line-height: 1.5;
text-indent: 0;
background: #fff;
}

fieldset.settings.highlight {
margin-right: 0;
margin-bottom: 0;
margin-left: 0;
padding-right: 1.8rem;
padding-bottom: 2rem;
padding-left: 29.3rem;
border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
background: #fff9a2;
transition: background 0.25s ease-in;
}

.single #contents fieldset.highlight + .actions {
border-top: 0;
}

@media screen and (max-width: 700px) {

fieldset.settings {
padding-left: 0;
}

fieldset.settings.highlight {
padding-left: 1.8rem;
}

fieldset.settings:first-of-type {
margin: 1.5rem 1.8rem 1rem;
border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

fieldset.settings > legend {
position: relative;
padding: 0 1rem 0 0;
text-indent: 0;
}

fieldset.settings > legend + .help {
position: relative;
width: auto;
margin: 0 0 1.5rem;
}
}

/* Condensed, pickable settings, e. g. email gateways */

.js-active .settings.condensed:not(.pickable) {
margin-bottom: 0.5rem;
}

.js-active .settings.condensed:not(.pickable) label {
margin-bottom: 0;
}

.js-active .settings.pickable.condensed {
margin-bottom: 0;
padding-bottom: 0;
border-bottom: none;
}

.js-active .settings.pickable.condensed {
padding-top: 0;
border-top: 0;
}

.js-active .settings.pickable.condensed legend {
display: none;
}

/*--------------------------------------------------------------------------
Password
--------------------------------------------------------------------------*/

#password {
margin: 0 0 0 -1.5rem;
padding: 0;
border: none;
display: block;
}

#password legend {
margin: 0 !important;
padding: 0 0 0 1.5rem;
color: #222;
line-height: 1.5;
display: block;
}

#password i {
position: absolute;
top: -1rem;
right: 0;
}

.password {
position: absolute;
left: 0;
box-sizing: border-box;
width: 100%;
padding: 0 0 0 27.5rem;
z-index: 1000;
}

@media screen and (max-width: 700px) {
.password {
padding: 0;
}
}

/*--------------------------------------------------------------------------
Index page
--------------------------------------------------------------------------*/

.page-index h2,
.index h2 {
border: none;
}

.page-index form,
.index form {
margin: 0;
padding: 0;
}

.page-index .actions,
.index .actions {
padding: 3rem 1.8rem 0;
text-align: right;
}

.page-index .actions + ul.page,
.index .actions + ul.page {
margin-top: -5.8rem;
}

/* Pagination */

ul.page {
height: 3.6rem;
margin: -6.1rem 0 0;
padding: 2.3rem 5rem 0 1.9rem;
color: #9e9e9e;
cursor: default;
}

ul.page li {
display: inline;
margin-right: 0.75rem;
}

ul.page a {
margin: 0 -0.67rem;
padding: 0.67rem;
border-bottom: none;
}

ul.page form {
display: inline-block;
box-sizing: border-box;
min-height: 2rem;
padding: 0;
border: 0.1rem solid transparent;
border-radius: 0.4rem;
}

ul.page:hover form {
border-color: #dedede;
}

ul.page form:hover,
ul.page form.active {
border-color: rgba(0, 0, 0, 0.4);
box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.1);
}

ul.page form.invalid {
border-color: rgba(0, 0, 0, 0.4);
background-color: #fff9a2;
box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.1);
}

ul.page form.invalid input {
background-color: #fff9a2;
}

ul.page input {
height: 20px;
margin: 0;
padding: 0;
color: #666;
font-size: 1rem;
line-height: 1;
text-align: center !important;
border: none;
border-radius: 0.4rem;
box-shadow: none;
outline: none;
}

ul.page form:hover input {
color: #9e9e9e;
}

ul.page form.active input,
ul.page input:focus {
color: #000;
}

ul.page form span {
visibility: hidden;
}

/* Data Sources */

#blueprints-datasources table td.pages {
width: 30%;
}

/*--------------------------------------------------------------------------
Single page
--------------------------------------------------------------------------*/

.field {
box-sizing: border-box;
min-height: 4.7rem;
margin-bottom: 1.5rem;
}

/* Checkboxes */

div.field-checkbox {
min-height: 1.6rem;
padding: 1rem;
background: White;
}

.field-checkbox label {
margin-bottom: 0;
}

.field-checkbox:first-child {
margin-top: 1.8rem;
}

.field-checkbox + .field:not(.field-checkbox) {
margin-top: 2.6rem;
}

/* File uploads */

.file input {
margin: -0.3rem 0;
font: inherit;
color: #222;
}

.file span.frame {
margin-top: 0.1rem;
text-align: left;
}

.file span.frame span {
float: left;
overflow: hidden;
max-width: 50%;
}

.file a {
word-wrap: break-word;

overflow-wrap: break-word;
}

.file a,
.file a:hover {
color: #3f69a5;
}

.file em {
float: right;
color: #998;
font-style: normal;
border-bottom: 0.1rem solid rgba(153, 153, 136, 0.3);
cursor: pointer;
}

.file em:hover {
color: #d42;
border-bottom-color: rgba(221, 68, 34, 0.3);
}

/* Actions */

#contents .actions {
padding: 1.8rem;
background-color: rgb(240, 240, 240);
}

.page-index #contents .actions {
margin: 5rem 0 0;
text-align: right;
}

.page-single #contents .actions,
.single #contents .actions {
display: flex;
justify-content: space-between;
flex-flow: row wrap;
clear: both;
margin: 1rem -1.8rem 0 -1.8rem;
}

.page-single #contents .columns .actions,
.single #contents .columns .actions {

}

.page-single #contents .actions *,
.single #contents .actions * {
margin: 0.4rem;
}

.page-single #contents .actions input,
.single #contents .actions input {
order: 10;
}

.page-single #contents .actions button,
.single #contents .actions button {
order: 1;
}

/*--------------------------------------------------------------------
Misc
--------------------------------------------------------------------*/

#utilities > li {
min-height: 3rem;
padding: 0 1rem;
line-height: 3rem;
}

#utilities > li:nth-child(2n) {
background: #fff;
}

#utilities > li.selected {
background: #668abe;
}

#version {
float: left;
margin: 3.3rem 0 0 1.9rem;
color: #9e9e9e;
}

.actions #version {
margin: 0.5rem 0 0;
}

#fields p.help.toggle a {
color: #808080;
font-weight: normal;
}

/* JavaScript interactions */

.js-animate {
pointer-events: none;
}
/**
* This file contains styles related to symphonyAffix jQuery plugin
*
* @since Symphony 2.5
*/

.js-affix-scroll {
position: fixed !important;
top: 1rem;
}
/**
* Associations are visualisations of associated entries in Symphony's backend.
* They are hidden in Drawers by default and can be expanded on click.
*
* @since Symphony 2.3
*/


/*-----------------------------------------------------------------------------
Vertical drawers
-----------------------------------------------------------------------------*/

#drawer-section-associations .contents {
padding: 0.5rem 2rem;
}

.association {
min-height: 3rem;
margin-top: 2rem;
color: #666;
}

.association + .association {
margin-top: 1.5rem;
}

.empty + .empty {
margin-top: 0;
}

.association:last-of-type {
padding-bottom: 1rem;
}

.association a {
color: #666;
}

.association a:hover {
color: #323232;
}

.association:first-of-type header {
padding-top: 0.6rem;
}

.association header {
padding-top: 1rem;
}

.association header p {
margin: 0;
padding: 0;
}

.association header i a {
color: rgb(169, 169, 169);
border-bottom: none;
}

.association header i {
float: right;
margin-left: 0.3rem;
}

.association .association-section {
color: #323232;
}

.association-links {
width: 26rem;
margin: 0;
padding: 1rem 0 0;
}

.association-links li {
display: block;
box-sizing: border-box;
line-height: 2;
white-space: nowrap;
}

.association-links a,
.association-links a:hover {
display: inline-block;
overflow: hidden;
width: 26rem;
line-height: 3rem;
text-overflow: ellipsis;
border-color: #e8e8e8;
}

.association-links li a::before {
content: '\2192 ';
margin-right: 0.3rem;
}

.association-links.parent li a::before {
content: '\2190 ';
margin-right: 0.3rem;
}

.association-more a {
color: #a9a9a9;
}

.association-more a::before {
content: '\00B7\00B7\00B7' !important;
}

.association-new {
float: right;
margin-top: -1.9rem;
}
.calendar {
position: relative;
margin-top: 0.2rem;
padding-bottom: 0.5rem;
border: 0.1rem solid #c5c5c5;
border-radius: 0.4rem 0.4rem 0 0;
background-color: #f5f5f5;
box-shadow: 0 0.2rem 0.15rem rgba(0, 0, 0, 0.15);
}

.calendar.hidden {
display: none;
}

.suggestions .calendar {
margin-top: 0;
padding-bottom: 0;
border: none;
border-bottom: 0.5rem solid #fff;
border-radius: 0.4rem;
background-image: linear-gradient(to bottom, transparent 0px, transparent 3.3rem, #ececec 3.3rem, #ececec 3.4rem, #f9f9f9 3.4rem, #f9f9f9 3.5rem, #fcfcfc 3.5rem, #fcfcfc 6.8rem, #e2e2e2 6.8rem, #e2e2e2 6.9rem, #f6f6f6 6.9rem, #f6f6f6 7rem, #fff 7rem);
box-shadow: none;
}

.calendar nav {
display: block;
position: relative;
box-sizing: border-box;
height: 3.3rem;
margin: 0;
}

/* Pagination */

.calendar .clndr-previous-button,
.calendar .clndr-next-button {
position: absolute;
top: 0.2rem;
left: 0.4rem;
width: 3rem;
height: 3rem;
text-indent: -1000em;
border: none;
background: url(../img/symphony.calendar.svg) 0 -3rem no-repeat;
background-size: 3rem 9rem;
opacity: 0.3;
}

.calendar .clndr-next-button {
left: auto;
right: 0.4rem;
background-position: 0 -6rem;
}

.calendar .clndr-previous-button:hover,
.calendar .clndr-next-button:hover {
opacity: 1;
}

/* Switch */

.calendar .switch {
position: absolute;
top: 0.8rem;
left: 50%;
float: left;
overflow: hidden;
width: 18rem;
height: 2rem;
margin: 0 0 0 -9rem;
border: none;
border-radius: 0.4rem;
background: none;
cursor: pointer;
}

.calendar .select {
top: calc(-2.2rem * 6 + 0.3rem);
overflow: visible;
height: auto;
border: 0.1rem solid #b3b3b3;
border-right-color: #a6a6a6;
border-bottom-color: #999;
border-left-color: #a6a6a6;
border-radius: 0.4rem;
background: #fcfcfc;
box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.35);
z-index: 12000;
}

.calendar .months,
.calendar .years {
display: block;
position: relative;
float: left;
box-sizing: border-box;
width: 8rem;
margin: calc(-2.2rem * 6 - 0.5rem) 0 0;
padding: 0.25rem 0.25rem 0.25rem 0.15rem;
font-size: 1.2rem;
border: none;
border-radius: 0.4rem;
}

.calendar .months {
width: 10rem;
padding: 0.25rem 0.15rem 0.25rem 0.25rem;
text-align: right;
border-right: 0.1rem solid transparent;
}

.calendar .months::before,
.calendar .years::before {
content: '';
display: block;
position: absolute;
top: 50%;
left: 0;
width: 3rem;
height: 3rem;
margin-top: -1.5rem;
background: url(../img/symphony.calendar.svg) 0 0 no-repeat;
opacity: 0.3;
}

.calendar .years::before {
left: auto;
right: 0;
}
.calendar .switch:hover .months::before,
.calendar .switch:hover .years::before {
opacity: 1;
}

.calendar .select .months::before,
.calendar .select .years::before {
display: none;
}

.calendar .months li,
.calendar .years li,
.calendar .months li:hover,
.calendar .years li:hover {
position: relative;
box-sizing: border-box;
height: 2.2rem;
padding: 0 0.4rem;
color: inherit;
line-height: 2.2rem;
border: none;
border-radius: 0.2rem 0 0 0.2rem;
background: none;
box-shadow: none;
cursor: pointer;
z-index: 3000;
}

.calendar .years li {
border-radius: 0 0.2rem 0.2rem 0;
}

.calendar .select .months,
.calendar .select .years {
overflow: hidden;
margin: 0;
background: #fcfcfc;
}

.calendar .select .months {
border-color: rgba(0, 0, 0, 0.1);
}

.calendar .select ul:hover li:nth-child(7) {
color: #000;
background: #fff;
}

.calendar .select ul li:nth-child(7) {
color: #fff;
background: #668abe;
}

.calendar .select ul li:hover {
color: #fff !important;
background: #668abe !important;
}

/* Sheets */

.calendar table {
margin: 0;
border-top: 0.1rem solid rgba(0, 0, 0, 0.075);
border-collapse: separate;
background-color: #f5f5f5;
}

.suggestions .calendar table {
max-width: 60rem;
margin: 0 auto;
border-color: transparent;
background-color: transparent;
}

.calendar thead td {
color: #333331;
text-transform: uppercase;
border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
background-color: #fcfcfc;
}

.suggestions .calendar thead td {
border-color: transparent;
background-color: transparent;
}

.calendar tr,
.calendar td {
height: 3.3rem;
padding: 0;
border: none;
background-color: inherit;
}

.calendar tr:first-of-type td {
border-top: 0.1rem solid rgba(0, 0, 0, 0.025);
}

.suggestions .calendar tr:first-of-type td {
border-top: none;
}

.calendar tbody tr:first-of-type td {
padding-top: 0.5rem;
}

.calendar td {
width: 14.2857142857%;
text-align: center;
vertical-align: middle;
}

.calendar .day {
display: inline-block;
box-sizing: boder-box;
width: 2.5rem;
height: 2.5rem;
line-height: 2.3rem;
border: 0.1rem solid transparent;
border-radius: 50%;
cursor: pointer;
}

.calendar .day:hover {
border-color: #c5c5c5;
box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.calendar .today,
.calendar .today:hover {
border-color: #c5c5c5;
background: #fff;
}

.calendar .last-month,
.calendar .next-month {
color: rgba(0, 0, 0, 0.2);
}

.calendar .active,
.calendar .active:hover {
color: #fff;
border-width: 0.2rem;
border-color: #fff;
background: #668abe;
box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

/* Storage */

.calendar:not(.hidden) + input,
.calendar:not(.hidden) + input:focus {
height: 3.3rem;
margin-top: 0;
padding: 0.6rem 1rem;
border-top: none;
border-radius: 0 0 0.4rem 0.4rem;
}

/* Timezone Offset */

.show-timezone label::after {
content: attr(data-timezone);
display: block;
position: absolute;
right: 0.1rem;
bottom: 0.1rem;
height: 2rem;
margin: 0;
padding: 0 0.5rem 0 1rem;
color: #a9a9a9;
line-height: 2rem;
background-color: #fff;
}

.show-timezone[data-interactive] label::after {
margin-bottom: 0.5rem;
padding-right: 1rem;
}
/**
* This file bundles basic style definitions shared across the different areas
* of Symphony. They are used by the installer, the front-end error messages and
* notifications and by the backend itself.
*/


/*-----------------------------------------------------------------------------
Reset – based on http://meyerweb.com/eric/tools/css/reset/
-----------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
header, nav, section, aside, footer,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
font-size: 1em;
vertical-align: baseline;
text-decoration: none;
border: 0;
background: transparent;
}

input, select, textarea, button {
margin: 0;
padding: 0;
font-size: 1em;
vertical-align: baseline;
}
button::-moz-focus-inner {
padding: 0;
border: 0;
}
ol, ul {
list-style: none;
}
table {
border-spacing: 0;
border-collapse: collapse;
}
header, nav, section, aside, footer {
display: block;
}

/*-----------------------------------------------------------------------------
Basic styles
-----------------------------------------------------------------------------*/

html {
font-size: 10px;
overflow-y: scroll;
}

body {
font-size: 127.28%;
line-height: 1.35;
background-color: rgb(240,240,240);
}

body,
button,
input,
select,
optgroup {
color: #222;
font-family: Roboto, '-apple-system', 'Lucida Grande', Leelawadee, Tahoma, Verdana, sans-serif;
-moz-font-feature-settings: "ss01";
-webkit-font-feature-settings: "ss01";
font-feature-settings: 'ss01';
}

/* Headlines */

h3 {
font-weight: bold;
}

/* Paragraphs */

p {
margin-bottom: 1.5rem;
}

p.label {
position: relative;
margin: 0 0 0.2rem;
}

/* Links */

a {
color: #3f69a5;
border-bottom: 1px solid rgba(63, 105, 165, 0.15);
cursor: pointer;
}

a:hover,
.inactive a:hover {
color: #000;
border-bottom-color: rgba(0, 0, 0, 0.3);
}

a:active, a:focus,
.inactive a:active, .inactive a:focus {
color: #d42;
border-bottom-color: rgba(221, 68, 34, 0.3);
}

/* Lists */

ul, ol {
margin: 0 0 1.5rem 2.5rem;
}

ul.tags {
margin: -0.75rem 0 1.5rem 0;
padding: 0;
color: #a2a2a2;
color: rgba(0, 0, 0, 0.4);
list-style: none;
}

ul.tags li,
ul.tags li:first-of-type,
ul.tags li:last-of-type {
display: inline;
float: none;
padding: 0 6px 0 0;
font-size: 90.91%;
border: none;
cursor: pointer;
}

ul.tags li:hover {
color: #554;
}

ul.tags li.more {
color: #5072bf;
border-bottom: 0.1rem solid rgba(63, 105, 165, 0.15);
}

ul.tags .more:hover {
color: #222;
border-bottom-color: rgba(0, 0, 0, 0.1);
}

/* Code */

code,
.code {
font: 100%/1.5 Monaco, Consolas, 'Andale Mono', monospace;
tab-size: 4;
}

pre {
margin-bottom: 1.5rem;
color: #474742;
font: inherit;
white-space: normal;
background: #f4f4f4;
}

pre code {
display: block;
overflow: auto;
padding: 0.5rem 0.7rem;
white-space: pre;
border: 0.1rem solid #d5d6d0;
}

i code {
font-size: 1em;
font-size-adjust: 0;
}

i, var {
color: #a9a9a9;
font-style: normal;
}

/* Forms */

fieldset {
position: relative;
padding: 1rem 0;
}

legend {
padding: 0;
color: rgba(0, 0, 0, 0.65);
font-weight: bold;
line-height: 1;
}

label {
display: block;
position: relative;
margin-bottom: 1.5rem;
color: grey;
}

label > i,
p.label > i {
position: absolute;
top: 0;
right: 0;
}

label.inline-help > i {
position: relative;
}

/* States */

.busy,
.busy * {
cursor: wait;
}

.inactive,
.inactive * {
color: #b4b4b4;
}

.inactive a {
border-bottom-color: rgba(180, 180, 180, 0.3);
}

.irrelevant {
display: none !important;
}

.selected, .selected a,
.selected .inactive {
color: #fff;
}

.selected, .selected a {
border-bottom-color: rgba(255, 255, 255, 0.2);
}

.selected a:hover {
color: #f2f2f2;
}

.help {
clear: both;
color: #808080;
}

.centered {
text-align: center;
}

.accessible {
position: absolute;
top: auto;
left: -10000px;
overflow: hidden;
width: 1px;
height: 1px;
}
/**
* Drawers are areas in the backend that contain additional information
* like settings or documentation. They are hidden by default and can be
* expanded on click.
*
* @since Symphony 2.3
*/


/*-----------------------------------------------------------------------------
Horizontal drawers
-----------------------------------------------------------------------------*/

.drawer.horizontal {
flex: 1 100%;
}

.drawer.horizontal .contents {
margin-top: 1.7rem;
border-top: 0.1rem solid rgba(0, 0, 0, 0.05);
}

.drawer.horizontal .contents:after {
content: ' ';
display: block;
clear: both;
height: 0;
font-size: 0;
visibility: hidden;
}

/*-----------------------------------------------------------------------------
Vertical drawers
-----------------------------------------------------------------------------*/

/**
* Height is set implicitly via `top` and `bottom` to allow for dynamic height.
*/
.drawer.vertical-left,
.drawer.vertical-right {
position: absolute;
top: 0;
bottom: 0;
overflow: scroll;
-webkit-overflow-scrolling: touch;
width: 30rem;
background: #f4f4f4;
}

.drawer.vertical-left {
left: 0;
border-right: 0.1rem solid rgba(0, 0, 0, 0.05);
}

.drawer.vertical-right {
right: 0;
border-left: 0.1rem solid rgba(0, 0, 0, 0.05);
}

.drawer.vertical-left .contents,
.drawer.vertical-right .contents {
padding: 2rem;
}
.drawer-filtering .contents {
padding-top: 0 !important;
border: none !important;
}

.drawer-filtering .frame {
min-height: 6.2rem;
border: none;
border-top: 0.1rem solid #e7e7e7;
}

.drawer-filtering .frame.empty ol {
height: 3.3rem;
border-bottom: 0.1rem solid #e7e7e7;
}

.drawer-filtering .frame.empty ol::before {
content: attr(data-empty);
display: block;
color: #b4b4b4;
font-size: 1.1rem;
line-height: 3.3rem;
}

.drawer-filtering .instance {
min-height: 6rem;
border-bottom: 0.1rem solid #e7e7e7;
}

.drawer-filtering .frame-header {
padding: 0.8rem 0 0.3rem;
border: none;
box-shadow: none !important;
}

.drawer-filtering .destructor {
right: 0;
}

.drawer-filtering .content {
padding: 0;
}

/* Buttons */

.drawer-filtering .clear-filters {
position: absolute;
bottom: 0rem;
left: -1rem;
cursor: pointer;
}

.drawer-filtering .apply-filters {
float: right;
margin-top: 1rem;
cursor: pointer;
}

.drawer-filtering .apply {
position: relative;
right: auto;
bottom: auto;
float: right;
clear: none;
}

@media screen and (max-width: 700px) {

.drawer-filtering .columns {
margin-left: 0;
}

.drawer-filtering .primary,
.drawer-filtering .secondary {
float: none;
clear: both;
width: 100%;
margin: 0;
padding: 0 0 0.7rem;
border-top: none;
}
}
/**
* This file contains unified styles for inputs, text areas, multiple selects
* and buttons that are shared across the system. It does not contain general
* label and fieldset definitions that differ in the different areas of Symphony.
*
* @since Symphony 2.3
*/


/*--------------------------------------------------------------------------
Inputs, text areas, selects
--------------------------------------------------------------------------*/

input,
textarea,
select[multiple],
.field-value-readonly {
box-sizing: border-box;
width: 100%;
margin-top: 0.2rem;
padding: 0.2rem 0.3rem;
font-family: inherit;
font-size: 110%;
/* 	border-width: 0 0 0.1rem 0; */
border-width: 0;
border-style: solid;
border-color: rgba(0, 0, 0, 0.25);
background: White;

}

input,
textarea,
select[multiple],
.field-value-readonly,
select,
div.field-checkbox {
box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

input[type=file] {
height: auto;
margin: 0;
padding: 0;
border: none;
background: transparent;
}

input:active,
input:focus,
textarea:active,
textarea:focus,
select[multiple]:active,
select[multiple]:focus {
border-color: rgba(0, 0, 0, 0.4);
outline: none;
}

select {
display: block;
box-sizing: border-box;
width: 100%;
margin-top: 0.2rem;
}

select[multiple] {
width: 100%;
height: 10rem;
padding: 0;
font-size: 1.1rem;
}

select[size] {
height: auto;
max-height: 10rem;
}

input[size] {
width: auto;
}

input[type='radio'],
input[type='checkbox'] {
display: inline;
width: auto;
height: auto;
margin-top: 0;
margin-right: 0.5rem;
padding: inherit;
font-size: inherit;
border: none;
box-shadow: none;
}

button,
input,
select,
optgroup {
line-height: 1.5;
}

button[disabled] {
opacity: 0.5;
}

optgroup {
font-weight: bold;
font-style: normal;
}

a,
select,
textarea,
option,
fieldset {
outline: 0;
}

input[type='reset'],
input[type='button'],
input[type='submit'] {
width: auto;
font-size: inherit;
}

button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
select::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner {
border: none;
}

.field-value-readonly {
display: block;
min-height: 2.2rem;
padding-left: 0;
border: none;
opacity: 0.5;
}

/* Errors */

.invalid input:active,
.invalid input:focus,
.invalid textarea:active,
.invalid textarea:focus {
border-color: Red;
}

/*--------------------------------------------------------------------------
Buttons
--------------------------------------------------------------------------*/

input[type=submit],
button,
.button,
.apply-button-left,
.apply-button-right,
.apply-label-left,
.apply-label-right {
margin-left: 0.5rem;
padding: 0.5rem 1rem;
color: rgb(85,85,85);
background-color: rgb(250,250,250);
border: none;
border-radius: 0.2rem;
box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.1);
transition: all 200ms ease-in;
}

ul.actions li:first-child .button {
margin-left: 0;
}

.actions .button,
.frame .button {
background-color: WhiteSmoke;
box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

input[type=submit]:hover,
input[type=submit]:focus,
button:hover,
button:focus,
.button:hover,
.button:focus {
color: rgb(85,85,85);
background-color: white;
box-shadow: 0 0.2rem 0.5rem 0 rgba(0,0,0,0.16), 0 0.2rem 1rem 0 rgba(0,0,0,0.12);
cursor: pointer;
}

input[type=submit]:active,
button:active,
.button:active {
color: rgb(85,85,85);
background-color: white;
box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,0.2);
cursor: pointer;
}

input[type=submit].selected,
button.selected,
.button.selected {
color: rgba(0, 0, 0, 0.7);
border-color: rgba(0, 0, 0, 0.3);
background-color: #e3e3df;
box-shadow: inset 0 0 0.15rem rgba(0, 0, 0, 0.2);
text-shadow: 0.1rem 0.1rem 0 rgba(255, 255, 255, 0.7);
cursor: pointer;
}

textarea[disabled=disabled],
textarea[disabled=disabled]:hover,
textarea[disabled=disabled]:active,
textarea[disabled=disabled]:focus,
textarea[readonly=readonly],
textarea[readonly=readonly]:hover,
textarea[readonly=readonly]:active,
textarea[readonly=readonly]:focus,
input[type=submit][disabled=disabled]:hover,
input[type=submit][disabled=disabled]:active,
input[type=submit][disabled=disabled]:focus,
input[readonly=readonly],
input[readonly=readonly]:hover,
input[readonly=readonly]:active,
input[readonly=readonly]:focus,
button[disabled=disabled],
button[disabled=disabled]:hover,
button[disabled=disabled]:active,
button[disabled=disabled]:focus {
opacity: 0.5;
cursor: not-allowed;
}

/* Create buttons */

button.create,
.button.create {
color: #fff;
background: rgb(140,180,0);
}

button.create:hover,
button.create:active,
button.create:focus,
.button.create:hover,
.button.create:active,
.button.create:focus {
background: rgba(140,200,0,0.8);
}

/* Delete buttons */

button.delete:hover,
button.delete:active,
button.delete:focus,
.button.delete:hover,
.button.delete:active,
.button.delete:focus {
color: white;
background-color: #e90a20;
}

/* Installer */

.submit input {
margin-top: 1.5rem;
}

/* "With selected…" menu */

.apply,
.apply.inactive:hover {
display: inline-block;
margin: 0;
}

.apply.inactive {
opacity: 0.5;
}

.apply > * {
text-align: left;
display: inline-block;
vertical-align: top;
}

.apply div {
overflow: hidden;
}

.apply:hover div {
background-position: right 0.6rem;
}

.apply.inactive div {
background: right -3.4rem;
}

.apply select,
.field select {
display: block;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
appearance: none;
min-width: 17rem;
margin: 0;
padding: .45rem 3rem .45rem 1rem;
color: rgb(60,60,60);
border: none;
border-radius: 0.2rem;
-webkit-appearance: none;
background: transparent;
outline: none;
cursor: pointer;
background-color: white;
background-image: url("data:image/svg+xml;charset=UTF-8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' width='32px' height='32px' viewBox='0 0 32 32'><g><polyline fill='none' stroke='LightGray' stroke-width='2' stroke-miterlimit='10' points='4,11 16,22 28,11 '/></g></svg>");
background-repeat: no-repeat;
background-position: right .6rem top .5rem;
background-size: 2rem 2rem;
}

.field select {
margin: 0.2rem 0 0 0;
}

.apply.inactive select {
cursor: default;
}

.apply button,
.apply-button-right,
.apply-button-left,
.apply-label-right,
.apply-label-left {
border-radius: 0.2rem;
margin: 0 0 0 0.5rem;
}

.apply.inactive button,
.apply.inactive button:hover {
color: rgba(60,60,60,0.8);
box-shadow: none;
cursor: default;
}

/* Single select "With selected…" */

.apply.single {
border: none;
}

.apply.single select {
display: none;
}

.apply.single button {
height: auto;
white-space: nowrap;
}

.apply.single button:before {
display: none;
}

/* Inline buttons, aligned left */

fieldset input[type=submit],
fieldset button,
fieldset .button {
margin-right: 1rem;
margin-left: 0;
}
/**
* Frames are used in different areas of the system to group content,
* e. g. in the section or data source editor.
*
* @since: Symphony 2.3
*/

.frame {
position: relative;
box-sizing: border-box;
padding: 0;
list-style: none;
background: White;
}

.frame h1 {
margin: -1.1rem -1.1rem 1.5rem;
padding: 1.8rem 1.1rem;
color: #fff;
font-size: 1.5rem;
font-weight: normal;
line-height: 1.5;
border-radius: 0.4rem 0.4rem 0 0;
background: #282828;
}

.frame.empty {
height: 3rem;
border: 0.1rem dashed #b8b8b8;
}

.frame::after {
content: '';
display: block;
clear: both;
}

.frame ol,
.frame ul {
margin: 0;
padding: 0;
}

.frame .tags {
margin-top: -1rem;
margin-bottom: 1.5rem;
}

/* Headers */

.frame-header {
position: relative;
padding: 0.8rem 1rem 0.7rem;
color: #3d3d3d;
border-top: 0.1rem solid #d0d0d0;
border-bottom: 0.1rem solid #dcdcdc;
}

.frame:not(.collapsible) .frame-header {
box-shadow: 0 0.1rem 0.4rem #e5e5e5;
}

.frame .collapsed .frame-header {
border-bottom: 0.1rem solid #f5f5f5;
}

.frame-header h4 {
display: inline;
font-weight: bold;
}

.frame-header span {
margin: 0 0 0 1rem;
color: #a1a1a1;
font-weight: normal;
}

.main::before,
.sidebar::before {
content: '';
display: block;
float: left;
width: 0.1rem;
height: 1rem;
margin: 0.3rem 0.7rem 0 0;
border-right: 0.3rem solid #dcdcdc;
border-left: 0.6rem solid #b8b8b8;
}

.sidebar::before {
border-right: 0.3rem solid #b8b8b8;
border-left: 0.6rem solid #dcdcdc;
}

.highlight .main::before {
border-right: 0.3rem solid #b9b9b9;
border-left: 0.6rem solid #747474;
}

.highlight .sidebar::before {
border-right: 0.3rem solid #747474;
border-left: 0.6rem solid #b9b9b9;
}

/* Content: light scheme */

.frame .content {
box-sizing: border-box;
padding: 1rem;
}

.frame .instance:last-of-type .content {
border-radius: 0 0 0.4rem 0.4rem;
}

.frame .content::after {
content: '';
display: block;
clear: both;
}

.frame .content fieldset {
border-top-color: #d0d0d0;
}

/* Content: dark scheme */

.frame.dark .content {
color: #fff;
background: #323230;
}

.frame.dark legend {
background: transparent;
}

.frame.dark i,
.frame.dark ul.tags {
color: #6f6f6e;
}

.frame.dark fieldset {
border-top-color: #464644;
}

/*--------------------------------------------------------------------------
Inline frames (e. g. upload fields)
--------------------------------------------------------------------------*/

span.frame,
fieldset.frame,
.frame.inline {
display: block;
margin-bottom: 1.5rem;
padding: 1rem;
}

/*--------------------------------------------------------------------------
Login
--------------------------------------------------------------------------*/

#login .frame {
overflow: visible;
width: 28rem;
margin: 10rem auto;
padding: 1rem 1rem 1.5rem;
text-align: left;
}

#login fieldset {
padding: 0;
}

#login legend {
display: none;
}

#login .action-link {
float: left;
margin-top: 0.3rem;
}

#login button {
float: right;
}

/*--------------------------------------------------------------------------
Controls
--------------------------------------------------------------------------*/

.frame .destructor,
.frame .debug {
position: absolute;
top: 0.8rem;
right: 1rem;
margin: 0;
color: #aeaeae;
font-weight: normal;
border-bottom: none;
}

.frame .destructor:hover,
.frame .debug:hover,
.frame .constructor:hover {
color: #494949;
}

.frame .disabled {
color: #adadad;
opacity: 0.4;
cursor: not-allowed;
}

/* Applicators */

.frame .apply {
position: absolute;
right: 0;
bottom: -3.5rem;
clear: left;
margin: 1rem 0 0;
text-align: right;
border-color: rgba(0, 0, 0, 0.25);
cursor: default;
}

.frame .apply:hover {
border-color: rgba(0, 0, 0, 0.4);
}

.frame .actions {
height: 2rem;
margin: 0 0 0.7rem;
}

.frame input,
.frame textarea {
background: WhiteSmoke;
}

.frame .actions input {
margin-top: 0;
}

.frame .actions button {
float: right;
}

/*-----------------------------------------------------------------------------
Orderables and Selectables
-----------------------------------------------------------------------------*/

.orderable .frame-header,
.collapsible.orderable .ordering * {
cursor: move;
}

.frame .selected,
.frame .ordering {
position: relative;
background-color: #668abe;
}

.frame .selected::before,
.frame .selected::after,
.frame .ordering::before,
.frame .ordering::after {
content: '';
display: block;
position: absolute;
top: 0;
left: -0.1rem;
width: 0.1rem;
height: 100%;
background: #4d78b4;
z-index: 1000;
}

.frame .selected::after,
.frame .ordering::after {
left: auto;
right: 0;
}

.frame .ordering + .instance .frame-header {
border-top: 0.1rem solid #4d78b4;
}

.ordering .frame-header {
color: #fff;
border-top: 0.1rem solid #4d78b4;
border-bottom-color: #7093c3;
background: #5c83ba;
transition: none;
cursor: move;
}

.frame:not(.collapsible) .ordering .frame-header {
box-shadow: 0 0.1rem 0.4rem #7093c3;
}

.frame .ordering .frame-header span,
.frame .ordering .frame-header .destructor,
.frame .ordering .content i,
.frame .ordering ul.tags {
color: #bdcbdd;
}

.frame .ordering .content,
.frame .ordering .content legend {
color: #fff;
background: #668abe;
}

.frame.dark .ordering .content,
.frame.dark .ordering .content legend {
color: #fff;
background: #4d78b4;
}

.frame .ordering .content input,
.frame .ordering .content textarea {
border-color: #4b76b1;
}

.frame .ordering .content fieldset {
border-top-color: #7093c3;
}

.frame .ordering .main::before {
border-right: 0.3rem solid #7c9bc7;
border-left: 0.6rem solid #cedaea;
}

.frame .ordering .sidebar::before {
border-right: 0.3rem solid #cedaea;
border-left: 0.6rem solid #7c9bc7;
}

.frame .highlight {
background: #e8e8e8;
}

/*-----------------------------------------------------------------------------
Collapsibles

The duration of all transitions has to be set to the same time to prevent
a "jump" in the animation because the class `.js-animate` is removed on
the first `transitionend` event.
-----------------------------------------------------------------------------*/

.collapsible .instance {
overflow: visible;
}

.collapsible .instance.collapsed {
overflow: hidden;
}

.collapsible .instance,
.collapsible input,
.collapsible textarea,
.collapsible select,
.collapsible option {
-webkit-font-smoothing: subpixel-antialiased !important;
}

.collapsible .frame-header {
cursor: pointer;
}

.collapsible .content {
background: #e8e8e8;
}

.collapsible legend {
padding-right: 0.5rem;
background: #e8e8e8;
}

.frame .js-animate {
overflow: hidden;
transition: max-height 0.25s linear;
}

.collapsed.js-animate,
.destructed.js-animate {
transition: max-height 0.25s ease-out;
}

.collapsible .js-animate {
overflow: hidden;
}

.collapsible .js-animate .content {
transition: padding 0.25s ease-in;
}

.collapsed.js-animate .frame-header {
border-bottom-color: rgba(0, 0, 0, 0);
transition: border-color 0.25s ease-in;
}

.collapsed .content {
padding-top: 0;
}

/*-----------------------------------------------------------------------------
Duplicators
-----------------------------------------------------------------------------*/

.duplicator ol {
margin-top: -0.1rem;
border-radius: 0.4rem;
}

.frame .template {
display: none;
}

/*-----------------------------------------------------------------------------
Invalid states
-----------------------------------------------------------------------------*/

.invalid {
display: block;
box-sizing: border-box;
color: Tomato;
}

.invalid input,
.invalid textarea {
border-color: Tomato;
}

.invalid p {
clear: both;
margin: 0;
}

.invalid p,
.invalid a {
color: Tomato;
}

.invalid a:hover {
color: #fff;
}

.invalid i {
color: rgba(255, 255, 255, 0.5);
}

/* Errors */

.conflict.collapsed .frame-header {
background: #fff9a2;
}

.conflict.ordering .frame-header {
background: none;
}

.conflict.collapsed .frame-header span,
.conflict.collapsed .destructor {
color: #bd7053;
}

.conflict.collapsed .frame-header::before {
border-right: 0.3rem solid #e7a973;
border-left: 0.6rem solid #bd7053;
}

.conflict.collapsed .frame-header.sidebar::before {
border-right: 0.3rem solid #bd7053;
border-left: 0.6rem solid #e7a973;
}

/*--------------------------------------------------------------------------
Error messages
--------------------------------------------------------------------------*/

#error {
padding: 10rem 5rem;
}

#error .frame {
display: block;
overflow: hidden;
min-width: 50rem;
max-width: 80rem;
margin: 0 auto;
}

#error .frame::after {
content: '';
display: block;
clear: both;
}

#error h1 {
margin: 0;
}

#error .frame h1 em {
color: rgba(255, 255, 255, 0.5);
font-family: inherit;
font-style: normal;
}

#error p {
margin: 0;
padding: 1rem;
}

#error .frame pre {
font: 100%/1.5 Monaco, Consolas, 'Andale Mono', monospace;
}

#error .frame pre,
#error .frame ul ul {
overflow: auto;
padding: 1rem 0;
background: #fefefe;
}

#error .content ul {
margin: 0 -1rem;
}

#error .frame ul ul li {
padding: 0 1rem;
line-height: 1.8;
white-space: nowrap;
border-top: 0.1rem solid rgba(0, 0, 0, 0.05);
}

#error .frame ul ul li.full {
white-space: normal;
}

#error .frame ul ul:first-of-type li:first-of-type {
border-top: none;
}

#error .frame .error {
color: #bd7053;
background-color: #fff9a2;
}
#error .frame .error b {
display: inline-block;
margin: -0.2rem 0 -0.1rem;
padding: 0.2rem 0 0.1rem;
color: #fff;
line-height: 1.8;
background: rgba(167, 31, 45, 0.7);
}

#error .frame code a {
margin: 0;
}

#error .frame strong,
#error .frame em {
color: rgba(0, 0, 0, 0.5);
font: 100%/1.5 Monaco, Consolas, 'Andale Mono', monospace;
font-style: normal;
}

#error .frame .content {
padding-bottom: 0;
background: #fefefe;
}

#error .frame .content:last-of-type ul {
border-radius: 0 0 0.4rem 0.4rem;
}

#error .frame .actions {
padding: 1rem;
}
/**
* Grids and columns
*
* @since: Symphony 2.3
*/


/*-----------------------------------------------------------------------------
General column definitions
-----------------------------------------------------------------------------*/

.columns {
clear: both;
margin-left: -1.5rem;
}

.columns:after {
content: '';
display: block;
clear: both;
}

.columns .column,
.columns > .invalid {
float: left;
box-sizing: border-box;
margin: 0 0 1.5rem;
padding: 0 0 0 1.5rem;
}

/* Equal columns */

.two.columns .column,
.two.columns > .invalid {
width: 50%;
}

.three.columns .column,
.three.columns > .invalid {
width: 33.33%;
}

.four.columns .column,
.four.columns > .invalid {
width: 25%;
}

.columns legend {
margin: 0 0 0 -1.5rem !important;
padding: 0 0.5rem 0 1.5rem !important;
}

.columns legend + * {
margin-top: 1rem;
}

/* Unequal columns */

form.columns {
margin: 0;
padding: 1rem 1.8rem 0;
}

form.columns .column.primary {
width: 100%;
padding: 0;
}

.two.columns .column.primary {
width: 65%;
margin: 0;
}

.two.columns .column.secondary {
width: 35%;
margin: 0;
}

@media screen and (max-width: 700px) {

.two.columns .column,
.two.columns > .invalid,
.two.columns .column.primary,
.two.columns .column.secondary {
width: 100%;
}

.two.columns .column.secondary {
margin-top: 0.5rem;
padding: 1.5rem 0 0 0;
border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.two.columns .column.secondary p.label {
margin-top: 1rem;
}
}

/* Errors in columns */

.columns > .invalid {
border: none;
border-radius: 0;
background: none;
box-shadow: none;
}

.columns > .invalid .column {
float: none;
width: 100%;
margin: 0;
padding: 1rem;
border: 0.1rem solid #c31;
border-bottom: 0;
border-radius: 0.4rem 0.4rem 0 0;
background-color: Tomato;
}

.columns > .invalid > .column > i {
top: 1rem;
right: 1rem;
}

.columns > .invalid > .column > .tags {
margin-bottom: 0;
}

.columns > .invalid > p {
padding: 0 1rem 1rem;
border: 0.1rem solid #c31;
border-top: 0;
border-radius: 0 0 0.4rem 0.4rem;
background-color: Tomato;
box-shadow: 0 0.1rem 0.2rem rgba(204, 51, 17, 0.3);
}

/*-----------------------------------------------------------------------------
Special definition
-----------------------------------------------------------------------------*/

.columns .column.justified {
padding-top: 2.1rem;
}
/**
* System notification
*
* @since Symphony 2.3
*/


/*-----------------------------------------------------------------------------
Notifier
-----------------------------------------------------------------------------*/

.notifier {
overflow: hidden;
background: #383838;
flex: 1 100%;
}

.notifier nav {
display: block;
position: absolute;
top: 0;
right: 1.8rem;
padding: 0.5rem 0;
cursor: pointer;
}

.notifier nav:before {
content: '\2193';
padding-right: 0.3rem;
opacity: 0.2;
}

.notifier .notice:last-child nav:before {
content: '\2191';
}

.notifier nav:hover:before {
opacity: 0.5;
}

/*-----------------------------------------------------------------------------
Message types
-----------------------------------------------------------------------------*/

.notice {
position: relative;
box-sizing: border-box;
width: 100%;
margin: 0;
padding: 0.8rem 9rem 0.8rem 1.8rem;
color: #9b9b9b;
background: #383838;
}

.notice a {
margin: 0 0.3rem;
color: #bdc3c3;
}

.notice a:hover,
.notice a:active,
.notice a:focus {
color: #e4ece4;
}

/* Success messages */

.notice.success {
color: #6d7841;
background-color: #bfdc96;
transition: color 0.5s ease-out, border-color 0.5s ease-out, background-color 0.5s ease-out;
}

.notice.success a {
color: #4e5b39;
transition: color 0.5s ease-out, border-color 0.5s ease-out;
}

.notice.success.dimmed {
color: #9b9b9b;
background-color: #383838;
}

.notice.success.dimmed a {
color: #bdc3c3;
}

.notice.success a:hover {
color: #333c25;
}

.notice.success.dimmed a:hover {
color: #dbdede;
}

/* Errors messages */

.notice.error {
color: #bd7053;
background-color: #fff9a2;
}

.notice.error a {
color: #b02d3c;
}

.notice.error a:hover {
color: #87232e;
}
/**
* Suggestions
*/

.frame.suggests,
.suggests {
overflow: visible;
}

.suggestions {
position: absolute;
overflow: hidden;
box-sizing: border-box;
width: 100%;
max-height: 0;
margin: 0.3rem 0 0 0 !important;
border: 0.1rem solid #b3b3b3;
border-right-color: #a6a6a6;
border-bottom-color: #999;
border-left-color: #a6a6a6;
border-radius: 0.4rem;
background: #fff;
box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.35);
transition: opacity 0s ease-in 0.15s, max-height 0s ease-in 0.25s;
opacity: 0;
z-index: -1;
}

@media screen and (min-width: 700px) {

.column .suggestions {
width: calc(100% - 1.5rem);
}
}

input:focus ~ .suggestions:not(:empty),
textarea:focus ~ .suggestions:not(:empty) {
max-height: 35rem;
transition: opacity 0s ease-in 0.15s, max-height 0s ease-in 0s;
opacity: 1;
overflow: auto;
z-index: 10000;
}

input:focus ~ .suggestions[data-search-types='date'] {
overflow: visible;
z-index: 10000;
max-width: 36rem;
}

.suggestions li:not(.calendar) {
box-sizing: border-box;
padding: 0.5rem 0.8rem;
border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.suggestions .calendar + li {
border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.suggestions li:last-of-type {
border-bottom: none;
}

.suggestions .active {
color: #fff;
background-color: #668abe;
cursor: pointer;
}

.suggestions .help {
display: none;
}

.suggestions .help.active {
display: block;
color: #999;
border-bottom: none;
background-color: #f5f5f5;
cursor: default;
border-radius: 0 0 0.4rem 0.4rem;
}

/**
* Additional styles for the popdown calendar widget on Date fields
*/
.field-date[data-interactive] .suggestions {
transition: none;
}

.field-date[data-interactive] .suggestions li {
padding: 0;
border-bottom: 0;
}
/**
* Backend tables
*/


table {
width: 100%;
margin-top: 0.8rem;
border-collapse: collapse;
}

table.fixed {
overflow-wrap: break-word;
word-wrap: break-word;
table-layout: fixed;
}

th {
padding-right: 1.9rem;
color: rgba(0, 0, 0, 0.6);
font-weight: normal;
line-height: 2;
text-align: left;
white-space: nowrap;
}

td {
padding: 0.8rem 1.9rem 0.8rem 0;
background-color: rgba(255, 255, 255, .5);
}

th:first-child,
td:first-child {
padding-left: 1.9rem;
}

tr:nth-child(even) td {
background-color: transparent;
}

tbody a {
padding-top: 0.67rem;
}

table input {
float: right;
margin-right: 1.9rem;
}

th span {
float: left;
overflow: hidden;
max-width: 90%;
white-space: nowrap;
text-overflow: ellipsis;
}

th a {
border-bottom: none;
}

th a,
th a:hover,
th a:hover:after {
color: rgba(0, 0, 0, 0.6);
}

th a:after {
color: rgba(0, 0, 0, 0.2);
}

th a:active,
th a.active,
th a.active:after {
color: #808080;
}

th a:after,
th a.active:hover:after,
th a.active[href$=asc]:after {
content: '\2193';
margin-left: 0.3rem;
}

th a.active:after,
th a[href$=asc]:after,
th a.active[href$=asc]:hover:after {
content: '\2191';
}

table.busy td {
border-top: 0.1rem solid #e6e6e5;
border-bottom: 0.1rem solid #e6e6e5;
background-color: #fff;
}

table.busy tr:nth-child(odd) td {
border-top: 0.1rem solid #e6e6e5;
border-bottom: 0.1rem solid #e6e6e5;
background-color: #f5f5f4;
}

table.busy a {
color: #5072bf;
}

table + fieldset {
margin-top: 5rem !important;
}

td img {
vertical-align: middle;
}

/*-----------------------------------------------------------------------------
Selectable rows
-----------------------------------------------------------------------------*/

table.selectable input {
display: none;
}

tr.selected td {
background-color: rgba(60,100,160,0.5);
}

tr:nth-child(odd).selected td {
background-color: rgba(60,100,160,0.55);
}

tr.selected td,
tr.selected a,
tr.selecting td,
tr.selecting a {
color: #fff;
}

tr.selected td a:hover {
color: white;
}

tr.selected td a:focus {
color: white;
}

tr.selected .inactive,
tr.selected i {
color: rgba(255, 255, 255, 0.6);
}

/*-----------------------------------------------------------------------------
Orderable rows
-----------------------------------------------------------------------------*/

tr.ordering {
cursor: move;
}

tr.ordering td,
tr:nth-child(odd).ordering td {
color: white;
background-color: rgba(60,100,160,0.8);

}

tr.ordering td,
tr.ordering a {
color: white;
}

/*-----------------------------------------------------------------------------
Status information
-----------------------------------------------------------------------------*/

tr[class*=status-] {
border-left-width: 0.8rem;
border-left-style: solid;
}

tr.status-notice {
border-left-color: #f9ba4b;
}

tr.status-ok {
border-left-color: #90c648;
}

tr.status-error {
border-left-color: #c4301e;
}

tr[class*=status-].selected {
border-left-color: #4967a1;
}

tr[class*=status-] td:first-of-type {
padding-left: 1.5rem;
}

tr[class*=status-] a:first-of-type::after {
content: attr(data-status);
color: transparent;
}

tr[class*=status-]:hover a:first-of-type::after {
color: #b4b4b4;
}
/**
* Tabs used to toggle content areas.
*
* @since Symphony 2.3
*/

ul.tabs {
position: relative;
top: 0.1rem;
clear: both;
height: 2.3rem;
margin: 0;
padding: 0;
list-style-type: none;
z-index: 10;
}

ul.tabs li {
display: block;
position: relative;
float: left;
box-sizing: border-box;
height: 2.4rem;
margin: 0 0.3rem 0 0;
padding: 0.4rem 1rem 0;
color: rgba(0, 0, 0, 0.5);
list-style-type: none;
border: 0.1rem solid rgba(0, 0, 0, 0.1);
border-bottom-color: #d5d5d0;
border-radius: 0.4rem 0.4rem 0 0;
background: #fafafa;
cursor: pointer;
cursor: pointer;
}

ul.tabs li:hover {
color: rgba(0, 0, 0, 0.65);
border: 0.1rem solid rgba(0, 0, 0, 0.2);
border-bottom-color: #c4c4c4;
background: #f5f5f5;
}

ul.tabs .selected,
ul.tabs .invalid.selected,
ul.tabs .invalid.selected:hover {
color: rgba(0, 0, 0, 0.8);
border: 0.1rem solid rgba(0, 0, 0, 0.2);
border-bottom-color: #fff;
background: #fff;
text-shadow: none;
z-index: 1000;
}

ul.tabs .selected:before {
content: '';
display: block;
position: absolute;
left: -0.4rem;
bottom: -0.1rem;
width: 0.3rem;
height: 0.3rem;
border: none;
border-right: 0.1rem solid #ccc;
border-bottom: 0.1rem solid #ccc;
border-radius: 0 0 0.2rem 0;
}

ul.tabs .selected:after {
content: '';
display: block;
position: absolute;
right: -0.4rem;
bottom: -0.1rem;
width: 0.3rem;
height: 0.3rem;
border: none;
border-bottom: 0.1rem solid #ccc;
border-left: 0.1rem solid #ccc;
border-radius: 0 0 0 0.2rem;
}

/* Destructor */

ul.tabs a.destructor,
ul.tabs .selected.invalid a.destructor {
margin: 0 -0.4rem 0 0;
padding: 0 0 0 0.5rem;
color: rgba(0, 0, 0, 0.15);
line-height: 1;
border-bottom: none;
text-shadow: 0.1rem 0.1rem #fff;
}

ul.tabs :hover a.destructor,
ul.tabs .selected.invalid:hover a.destructor {
color: rgba(0, 0, 0, 0.2);
}

ul.tabs a.destructor:hover,
ul.tabs .selected a.destructor:hover {
color: rgba(0, 0, 0, 0.5);
}

/* Invalid tabs */

ul.tabs .invalid {
color: rgba(255, 255, 255, 0.7);
border-color: #b21;
background: #d42;
box-shadow: none;
text-shadow: 0.1rem 0.1rem 0.1rem rgba(187, 34, 17, 1);
}

ul.tabs .invalid:hover {
color: rgba(255, 255, 255, 0.9);
}

ul.tabs .invalid a.destructor {
color: #fb9;
text-shadow: none;
}

/* Tabs in context area */

#context ul.tabs {
margin: 2rem 0 0 -1.1rem;
}
