/* forced line-breaks */
.field-simplemde .cm-trailing-space-new-line:before {
  content: '¬';
  color: red;
}

/* button size */
.field-simplemde .editor-toolbar a:before {
  font-size: 15px;
}

/* Editor font */
.field-simplemde .CodeMirror {
  font-size: 110%;
}

/* Heading size */
.field-simplemde .CodeMirror .CodeMirror-code .cm-header-1 {
  font-size: 150%;
  line-height: 120%;
}

.field-simplemde .CodeMirror .CodeMirror-code .cm-header-2 {
  font-size: 130%;
  line-height: 120%;
}

.field-simplemde .CodeMirror .CodeMirror-code .cm-header-3 {
  font-size: 110%;
  line-height: 120%;
}

.field-simplemde .CodeMirror .CodeMirror-code .cm-header-4,
.field-simplemde .CodeMirror .CodeMirror-code .cm-header-5 {
  font-size: 100%;
  line-height: 100%;
}

.field-simplemde {
  display: flex;
  flex-direction: column;
}

.field-simplemde .CodeMirror {
  z-index: 0;
  background-color: transparent;
  border-color: transparent;
  padding-top: var(--compensate-for-inner-field-label);
  color: var(--color-main);
}

.field-simplemde .editor-toolbar {
  opacity: 1;
}

.field-simplemde .editor-toolbar {
  position: sticky;
  background-color: var(--standard-field-background-color);
  bottom: 0;
  z-index: 1;
  border-radius: 0;
  order: 1;
  border-color: transparent;
  border-top-color: var(--color-ui);
  box-shadow: var(--shadow-up-smaller);
  transition-duration: var(--duration-short);
}

.field-simplemde .editor-toolbar:hover {
  box-shadow: var(--shadow-up);
}

.field-simplemde:not(:hover):not(:focus-within) .editor-toolbar,
.field-simplemde:focus-within .editor-toolbar:not(:hover):not(:focus-within) {
  opacity: 0;
  transition-delay: var(--duration-longest);
  transition-duration: var(--duration-longer);
}

.field-simplemde .editor-toolbar a {
  color: var(--color-main-light) !important; 
}

.field-simplemde .editor-toolbar>*+* {
  margin-left: var(--spacing-pico);
}

.field-simplemde .editor-toolbar>i {
  margin-right: var(--spacing-nano);
  margin-left: var(--spacing-thinnest);
}

.field-simplemde .editor-toolbar:hover a {
  color: var(--color-main) !important; 
}

.field-simplemde:not(:focus-within) .editor-toolbar a.active {
  color: inherit;
  border-color: transparent;
}

.field-simplemde .editor-toolbar a:hover {
  color: var(--color-accent) !important;
}

.field-simplemde:focus-within .editor-toolbar a.active {
  border-color: var(--color-main-light) !important; 
}

.field-simplemde .editor-toolbar a:hover {
  border-color: var(--color-accent) !important; 
}